html, body {
    font-family: "Roboto", serif;
    /* this offsets the sticky navbar with anchor links */
    scroll-padding-top: 4rem;
}

/* nav bar reset styling */
.navbar {
    padding: 0.8rem;
    background-color: #ACACAC !important;
}
.navbar-nav li{
    padding-right: 10px;
}
.nav-link {
    font-size: 1.1em !important;
}

/* .title h1{
    font-family: "Roboto", serif;
    margin-top: 10em;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    text-align: center;

    color: white;
    background: -webkit-linear-gradient(#eee, #333);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: block;
    z-index: 3;
} */

@keyframes move-clouds-back {
    from{background-position: 0 0;}
    to {background-position: 10000px 0;}
}

@keyframes move-twinkle-back {
    from{background-position: 0 0;}
    to {background-position: -10000px 5000;}
}

.title{
    padding-top: 17%;
    height: 600px;
    text-align: center;
    color: #fffafaed;
}

.stars, .twinkles, .clouds {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 665px;
    width: 100%;
    display: block;
    background-attachment: fixed;
}

.stars {
    /* background-color: #000; */
    background-attachment: fixed;

    background: #000 url(../img/stars.png) repeat top center;
    z-index: -4;
}

.twinkles {
    background-attachment: fixed;

    background: transparent url(../img/twinkles.png) repeat top center;
    z-index: -3;
    animation: move-twinkle-back 18s linear infinite;
}

.clouds {
    background-attachment: fixed;

    background: transparent url(../img/clouds.png) repeat top center;
    z-index: -2;
    opacity: 0.4;
    animation: move-clouds-back 850s linear infinite;
}
/* .carousel-caption {
    top: 50%;
    transform: translateY(-50%);
    bottom: initial;
    text-shadow: 2px 2px white;
} */

.education-container {
    padding: 20px;
}

.img-edu {
    padding-right: 50px;
}

.jumbotron {
    /* padding: 1rem; */
    border-radius: 0;
}

.welcome {
    width: 75%;
    margin: 0 auto;
    padding: 2rem;
}

.projects {
    background-color: #eee;
}

.footer {
    background-color: #111;
    color: #6c757d;
}

/* experiences page */
.work-experiences {
    background-image: url(../img/background.png);
}
.experiences {
    padding-left: 10%;
    padding-right: 10%;
    
}

.card {
    box-shadow: #000 !important;
    /* padding-bottom: 5% !important; */
    border: none !important;
}

.bg-primary {
    background-color: #6c757d !important;

    /* outline: auto; */
}
.experiences .col-md-9 {
    background-color: #fff !important;
}

/* .experiences .row {
    padding-bottom: 5% !important;
} */


/*--- Bootstrap Padding Fix --*/
[class*="col-"] {
    padding: 1rem;
}





p, h1, h2, h3, h4, h5, h6, button {
    font-family: "Roboto", serif;
}




  /* Responsive layout - makes a two column-layout instead of four columns */
  @media screen and (max-width: 800px) {
    .column {
      flex: 50%;
      max-width: 50%;
    }
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column {
      flex: 100%;
      max-width: 100%;
    }
  }

