{% extends 'base.html' %}

{% block head %}
<meta property="og:title" content="Personal Portfolio">
<meta property="og:description" content="My Personal Portfolio">
<meta property="og:url" content="{{ url }}">

<!-- <link rel="preconnect" href="https://fonts.gstatic.com"> -->
<link
    href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
    rel="stylesheet">

<link lang='sass' rel="stylesheet" href="{{ url_for('static', filename='styles/main.css')}}">
<link rel='icon' href='./static/img/favicon.ico' type='image/x-icon' />
<title>{{ title }}</title>
{% endblock %}

{% block body %}

<div class="container-fluid padding">
    <div class="stars"></div>
    <div class="twinkles"></div>
    <div class="clouds"></div>
    <div class="title">
        <h1>HELLO!</h1>
        <br>
        <h1>MY NAME IS MELISSA!</h1>
    </div>
</div>

<div class="container-fluid padding">
    <div class="row jumbotron text-center">
        <div class="col-12">
            <h3 class="display-6">Nice to meet you! Here's a little bit about me ...</h3>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9 col-xl-10">
            <p class="lead">Hello! My name is Melissa and I'm currently a student at the University of British Columbia studying Business and Computer Science. 
                I'm an aspiring software engineer and production engineer with a diverse portfolio of projects with a variety of technical stacks. I also have extensive leadership experience through my professional and extracurricular experiences. 
                When I'm not coding, you can find me exploring new hiking trails, painting, or volunteering in my community!
            </p>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 col-xl-2">
            <img src="./static/img/portrait.png" width=100% height=100%>
            
        </div>
    </div>
</div>

<a name="education"></a>
<div class="container-fluid padding">
    <div class="row padding">
        <div class="col-12 text-center">
            <h3 class="display-6">My Education</h3>
        </div>
        <div class="col-lg-7">
            <div class="lead education-container">
                <p>I am currently studying Computer Science and Business at the University of British Columbia. Some key courses that I've taken include Data Structures and Algorithms, Internet Networking, and Computer Systems.</p>
            </div>
        </div>
        <div class="col-lg-5 content-center">
            <div class="education-container">
                <img class="img-edu" src="./static/img/ubc.jpeg" alt="" width=100% height=200px>                
            </div>
        </div>
    </div>
</div>


<div class="projects container-fluid padding">
    <div class="row welcome text-center">
        <div class="col-12">
            <h3 class="display-6">My Projects</h3>
        </div>
    </div>
</div>

<div class="projects container-fluid padding">
    <div class="row padding">
        <div class="col-md-4">
            <div class="card">
                <img class="card-img-top" src="./static/img/darkgreysquare.png" width="300px" height="300px">
                <div class="card-body">
                    <h5 class="card-title">Project 1</h5>
                    <p class="card-text">description of project</p>
                    <a href="https://github.com/melissa-lam/project-flask-ferrets" class="btn btn-outline-secondary">Link</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <img class="card-img-top" src="./static/img/darkgreysquare.png" width="300px" height="300px">
                <div class="card-body">
                    <h5 class="card-title">Project 2</h5>
                    <p class="card-text">description of project</p>
                    <a href="https://github.com/melissa-lam/project-flask-ferrets" class="btn btn-outline-secondary">Link</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <img class="card-img-top" src="./static/img/darkgreysquare.png" width="300px" height="300px">
                <div class="card-body">
                    <h5 class="card-title">Project 3</h5>
                    <p class="card-text">description of project</p>
                    <a href="https://github.com/melissa-lam/project-flask-ferrets" class="btn btn-outline-secondary">Link</a>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="footer container-fluidtext-center">
    <div class="row text-center">
        <div class="col-12">
            <h5>Connect with Me!</h5>
        </div>
        <div class="col-12 social padding">
            <a class="btn btn-outline-secondary" href="https://github.com/melissa-lam/project-flask-ferrets" role="button"><i class="fab fa-github"></i></a>
            <a class="btn btn-outline-secondary" href="https://www.linkedin.com/in/melissalam-profile/" role="button"><i class="fab fa-linkedin-in"></i></a>
            <a class="btn btn-outline-secondary" href="mailto:melissa21lam@gmail.com" role="button"><i class="fa fa-envelope" aria-hidden="true"></i></a>

        </div>
    </div>
</div>



{% endblock %}