{% extends 'base.html' %}

{% block head %}
<meta property="og:title" content="Personal Portfolio">
    <meta property="og:description" content="My Personal Portfolio">
    <meta property="og:url" content="{{ url }}">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet">

    <link lang='sass' rel="stylesheet" href="{{ url_for('static', filename='styles/main.css')}}">
    <link rel='icon' href='./static/img/favicon.ico' type='image/x-icon' />
    <title>{{ title }}</title>
{% endblock %}

{% block body %}

<form id="form">
    <label for="name">Name:</label><br>
    <input name="name" type="text" id="name"><br>
    <label for="email">Email:</label><br>
    <input name="email" type="text" id="email"><br>
    <label for="content">Content:</label><br>
    <textarea name="content" type="text" id="content"></textarea><br>
    <button type="submit">Submit</button>
</form>

<h3>Posts:</h3>

<div class = "timeline">
    <h5>test</h5>
    {% for p in timeline %}
    <div class="post">
        <p>Date: {{ p.created_at }}</p>
        <p>Name: {{ p.name }}</p>
        <p>Email: {{ p.email }}</p>
        <p>Content: {{ p.content }}</p>
    </div>
    {% endfor %}

</div>

<script>
    const form = document.getElementById('form');
    form.addEventListener('submit', function(e) {
        e.preventDefault();

        const payload = new FormData(form);

        console.log(payload.entries());

        fetch('/api/timeline_post', {
            method: 'POST',
            body: payload,
        })

        .then(res => res.json())
        .then(data => console.log(data))
        .catch(err => console.log(err))
        .finally(location.reload())
    })

</script>

{% endblock %}